@charset "UTF-8"; 
  .logo {
    padding: 0 4rem; }

    * {
      margin: 0;
      box-sizing: border-box;
      font-family: HelveticaNeue, Helvetica, sans-serif; }

      .nav {
        color: white; }
        .nav__trigger-finger {
          position: fixed;
          top: 0;
          right: 0;
          z-index: 10;
          display: flex;
          align-items: center;
          width: 15px;
          height: 10px;
          margin: 40px;
          color: #500368; }
          .nav__trigger-finger::before {
            content: '';
            position: absolute;
            top: -5px;
            left: -5px;
            bottom: -5px;
            right: -5px;
            background: #500368;
            opacity: 0;
            z-index: -1;
            transition: opacity 0.3s cubic-bezier(0.75, 0, 0.25, 1); }
            .nav__trigger-finger span {
              display: block;
              width: 100%;
              height: 2px;
              transition: transform 1s cubic-bezier(0.75, 0, 0.25, 1);
              background: currentColor; }
              .nav__trigger-finger span::before, .nav__trigger-finger span::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                display: block;
                height: 2px;
                background: currentColor;
                transition: transform 0.4s cubic-bezier(0.75, 0, 0.25, 1), top 0.4s 0.4s cubic-bezier(0.75,
                                0, 0.25, 1), background 0.2s cubic-bezier(0.75, 0, 0.25, 1); }
                .nav__trigger-finger span::before {
                  top: 0; }
                  .nav__trigger-finger span::after {
                    top: calc(100% - 2px); }
        .nav__trigger-input, .nav__submenu-trigger-input {
          opacity: 0;
          width: 0;
          height: 0;
          appearance: none;
          position: fixed; }
          .nav__trigger-input:focus + label {
            color: white; }
            .nav__trigger-input:focus + label::before {
              opacity: 1; }
          .nav__trigger-input:checked + label {
            height: 10px;
            color: white; }
            .nav__trigger-input:checked + label span {
              transform: rotate(45deg); }
              .nav__trigger-input:checked + label span::before,
              .nav__trigger-input:checked + label span::after {
                top: calc(50% - 1px);
                transition: transform 0.4s 0.4s cubic-bezier(0.75, 0, 0.25, 1), top 0.4s cubic-bezier(0.75,
                                0, 0.25, 1), background 0.2s cubic-bezier(0.75, 0, 0.25, 1); }
                .nav__trigger-input:checked + label span::after {
                  transform: rotate(90deg); }
          .nav__trigger-input:checked ~ ul {
            z-index: 9;
            transform: none;
            transition: 0.5s cubic-bezier(0.75, 0, 0.25, 1); }
        .nav__list {
          position: fixed;
          overflow-y: scroll;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          z-index: -1;
          background: #500368;
          font-size: 4rem;
          padding: 40px;
          transform: translate(100vw) rotate(45deg);
          transition: 0.2s cubic-bezier(0.75, 0, 0.25, 1); }
          .nav__item {
            list-style: none; }
            .nav__item + .nav__item {
              margin-top: 20px; }
        .nav__submenu-trigger-input:checked + label::after {
          transform: translateY(10px); }
          .nav__submenu-trigger-input:checked ~ ul {
            display: block; }
        .nav__submenu-trigger-input:focus + label::after {
          transform: translateY(5px); }
        .nav__submenu-trigger-finger::after {
          content: '';
          display: inline-block;
          border: 10px solid transparent;
          border-top-color: white;
          transition: 0.4s cubic-bezier(0.75, 0, 0.25, 1); }
        .nav__link {
          text-decoration: none;
          color: inherit; }
          .nav__list-child {
            display: none;
            font-size: 2rem;
            margin-top: 10px;
            padding-left: 2rem; }

  main {
    padding: 6rem 4rem; }
    main h1 {
      font-size: 3rem;
      font-weight: normal; }
      main h1 span {
        color: #500368; }
    main p {
      line-height: 1.5;
      margin-top: 1.5rem; }

  Footer body {
    background: #D0D8DB;
    padding-top: 60px;
    padding-bottom: 40px; }

    textarea {
      resize: none; }

      .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        white-space: nowrap; }

        .svg-inline--fa {
          vertical-align: -0.2em; }

          .rounded-social-buttons {
            text-align: center;
            position: relative; }

            .rounded-social-buttons .social-button {
              display: inline-block;
              position: relative;
              cursor: pointer;
              width: 3.125rem;
              height: 3.125rem;
              border: 0.125rem solid transparent;
              padding: 0;
              text-decoration: none;
              text-align: center;
              color: #fefefe;
              font-size: 1.5625rem;
              font-weight: normal;
              line-height: 2em;
              border-radius: 1.6875rem;
              transition: all 0.5s ease;
              margin-right: 0.25rem;
              margin-bottom: 0.25rem; }

              .rounded-social-buttons .social-button:hover,
              .rounded-social-buttons .social-button:focus {
                -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                transform: rotate(360deg); }

                .rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube,
                .fa-instagram {
                  font-size: 25px; }

                  .rounded-social-buttons .social-button.facebook {
                    background: #3b5998; }

                    .rounded-social-buttons .social-button.facebook:hover,
                    .rounded-social-buttons .social-button.facebook:focus {
                      color: #3b5998;
                      background: #fefefe;
                      border-color: #3b5998; }

                      .rounded-social-buttons .social-button.twitter {
                        background: #55acee; }

                        .rounded-social-buttons .social-button.twitter:hover,
                        .rounded-social-buttons .social-button.twitter:focus {
                          color: #55acee;
                          background: #fefefe;
                          border-color: #55acee; }

                          .rounded-social-buttons .social-button.linkedin {
                            background: #007bb5; }

                            .rounded-social-buttons .social-button.linkedin:hover,
                            .rounded-social-buttons .social-button.linkedin:focus {
                              color: #007bb5;
                              background: #fefefe;
                              border-color: #007bb5; }

                              .rounded-social-buttons .social-button.youtube {
                                background: #bb0000; }

                                .rounded-social-buttons .social-button.youtube:hover,
                                .rounded-social-buttons .social-button.youtube:focus {
                                  color: #bb0000;
                                  background: #fefefe;
                                  border-color: #bb0000; }

                                  .rounded-social-buttons .social-button.instagram {
                                    background: #125688; }

                                    .rounded-social-buttons .social-button.instagram:hover,
                                    .rounded-social-buttons .social-button.instagram:focus {
                                      color: #125688;
                                      background: #fefefe;
                                      border-color: #125688; }
