.social-footer{
  text-align: center;
}

#facebook-icon {
  font-size:36px;
  margin-right: 1%;
  color:#3b5998;
}

#youtube-icon {
  font-size:36px;
  margin-right: 1%;
  color:#b31217;
}

#instagram-icon {
  font-size:36px;
  margin-right: 1%;
  color:#fb3958;
}
