{% extends "base.html" %}

{% block content %}
<main>
    <h1 class="text-center">
        Experiencia y Fondos concursables
    </h1>
    <p>
        Participamos del Brain Camp 2020 de <a href="https://www.brainchile.cl">Brain Chile</a>, quedando entre los 32 mejores proyectos de más de 300 proyectos concursantes.
    <p>
        Ganamos la final de ING2030, obteniendo un fondo de  $1.000.000 CLP destinados al desarrollo del proyecto.
    <p>
        Durante el segundo semestre del año 2020, nos encontraremos participando de <a href="https://www.jumpchile.com/">Jump Chile</a>.    
    </p>
</main>
{% endblock %}