<html>
    <head>
        <meta charset="utf-8" />
        <title>UVCare</title>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/footer.css">
        {% assets "scss_all" %}
            <link rel="stylesheet" href="/static/all.css">
        {% endassets %}
        <link rel="icon" href="../static/images/icon.png">
    </head>
    <header>
        <img src="../static/images/UVCare_mediano.png" class="logo"/>
    </header>
    <body>
        
        <nav class="nav">
            
        <input class="nav__trigger-input" type="checkbox" id="trigger" aria-label="open the navigation"/>
        <label class="nav__trigger-finger" for="trigger">
            <span></span>
        </label>
        <ul class="nav__list">
            <li class="nav__item">
            <a href="/index" class="nav__link">
                <span class="nav__text">
                Inicio
                </span>
            </a>
            </li>
            <li class="nav__item">
            <a class="nav__link">
                <span class="nav__text">
                Nosotros
                </span>
            </a>
            <input class="nav__submenu-trigger-input" type="checkbox" id="submenu-trigger" />
            <label class="nav__submenu-trigger-finger" for="submenu-trigger"></label>
            <ul class="nav__list-child">
                <li class="nav__item">
                <a href="/team" class="nav__link">
                    <span class="nav__text">
                    Equipo
                    </span>
                </a>
                </li>
                <li class="nav__item">
                <a href="/awards" class="nav__link">
                    Premios
                </a>
                </li>
            </ul>
            </li>
            <li class="nav__item">
            <a href="/blog" id="blog" class="nav__link">
                <span class="nav__text">
                Blog
                </span>
            </a>
            </li>
            <li class="nav__item">
            <a href="/contact" class="nav__link">
                <span class="nav__text">
                Contacto
                </span>
            </a>
            </li>
        </ul>
        </nav>

        {% block content %}{% endblock %}
    </body>
    <footer>
      <div class="rounded-social-buttons">
                        <a class="social-button facebook" href="https://www.facebook.com/UVCare-CL-102963704850565/" target="_blank"><i class="fab fa-facebook-f" id="face"></i></a>
                        <a class="social-button youtube" href="https://www.youtube.com/channel/UCLy3Ln2EauCWhqNbB7UqZaQ" target="_blank"><i class="fab fa-youtube"></i></a>
                        <a class="social-button instagram" href="https://www.instagram.com/uvcare_/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </footer>
</html>