{% extends "base.html" %}

{% block content %}
<main>
    <h1>
        Medios de contacto
    </h1>
    <p>
        Puedes completar el siguiente formulario y nosotros te contactaremos para responder tus dudas: <a href="https://docs.google.com/forms/d/e/1FAIpQLSflrSdz6xB5Knl6Xfr6cp1eB81yBh3u9SnFTZSPx9pg0oKCEA/viewform?usp=pp_url&entry.628235282=Nombre+Apellidos&entry.572575554=Encargado+relaciones+exteriores+Empresa&entry.604977780=Solicitar+mayor+informaci%C3%B3n&entry.1809146214=C%C3%B3mo+funciona+el+dispositivo
        >uvcare2020@gmail.com">Rellenar formulario</a>
    </p>
    <br>
    <h4>O directamente contactarnos:</h4>
    <p>
        Correo: <a href="mailto:uvcare2020@gmail.com">uvcare2020@gmail.com</a>
    <p>
        Celular: <a href="tel:962318761">+56962318761</a>
    </p>
</main>
{% endblock %}
