{% extends "base.html" %}

{% block content %}
<main>
    <h1>
        Conoce a <span>UVCare</span>
    </h1>
    <p>
        Gracias a nuestra rapidez, eficiencia y honestidad, UVCare se convirtió en una reconocida empresa de Servicio de limpieza de oficinas. Nuestro equipo está calificado para cualquier tipo de trabajo y administra los proyectos con la eficiencia que nuestros clientes esperan. Buscamos que nuestros clientes queden satisfechos, por ello proporcionamos canales abiertos de comunicación durante todo el proyecto.      </p>
    <p>
        Flexitarian PBR&B taxidermy prism mumblecore microdosing lyft YOLO pug williamsburg fashion axe small batch palo santo. Sustainable wayfarers poke enamel pin. Iceland skateboard whatever, pop-up forage ramps vexillologist scenester af trust fund la croix everyday carry raclette fingerstache fashion axe. Offal flannel selvage yuccie kale chips blue bottle tattooed hella typewriter skateboard hoodie shabby chic poke. Adaptogen pop-up gluten-free neutra ennui cronut gentrify whatever post-ironic.
    </p>
</main>
{% endblock %}