{% extends "base.html" %}

{% block content %}
<head>
    {% assets "scss_teams" %}
    <link rel="stylesheet" href="/static/team.css">
    {% endassets %}
</head>
<main>
    <h1 class="text-center">
        ¿Quiénes somos?
    </h1>
    <p>
         Somos 5 estudiantes de Ingeniería civil de la Universidad Católica de Chile, convencidos del rol y la responsabilidad que tiene nuestra área, y con el deseo de contribuir contra la actual pandemia y sus conseciencuas.
    <p>
         Estamos convencidos de la importancia de integrar las distintas disciplinas para surgir y aportar tanto en un área social como económica, y nos motiva entregar seguridad y tranquilidad a todas las personas.
    </p>
      <div class="slide-container">
        <div class="wrapper">
            <div class="clash-card barbarian">
                <div class="clash-card__image clash-card__image--barbarian">
                <img src="../static/images/nacho.png" alt="UserImage" />
                </div>
                <div class="clash-card__level clash-card__level--barbarian">Eléctrica</div>
                <br>
                <div class="clash-card__unit-name">Ignacio Serrano</div>
                <div class="clash-card__unit-description">
            </div>
          </div> <!-- end clash-card barbarian-->
        </div> <!-- end wrapper -->
        <div class="wrapper">
            <div class="clash-card barbarian">
                <div class="clash-card__image clash-card__image--barbarian">
                <img src="../static/images/tobar.png" alt="UserImage" />
                </div>
                <div class="clash-card__level clash-card__level--barbarian">Industrial TI</div>
                <br>
                <div class="clash-card__unit-name">Francisco Tobar</div>
                <div class="clash-card__unit-description">
            </div>
          </div> <!-- end clash-card barbarian-->
        </div> <!-- end wrapper -->
        <div class="wrapper">
            <div class="clash-card barbarian">
                <div class="clash-card__image clash-card__image--barbarian">
                <img src="../static/images/chris.png" alt="UserImage" />
                </div>
                <div class="clash-card__level clash-card__level--barbarian">Industrial Computación</div>
                <br>
                <div class="clash-card__unit-name">Christian Carstens</div>
                <div class="clash-card__unit-description">
            </div>
          </div> <!-- end clash-card barbarian-->
        </div> <!-- end wrapper -->
      </div> <!-- end container -->  
      <div class="slide-container">
        <div class="wrapper">
            <div class="clash-card barbarian">
                <div class="clash-card__image clash-card__image--barbarian">
                <img src="../static/images/nelson.png" alt="UserImage" />
                </div>
                <div class="clash-card__level clash-card__level--barbarian">Industrial TI</div>
                <br>
                <div class="clash-card__unit-name">Nelson Marabolí</div>
                <div class="clash-card__unit-description">
            </div>
          </div> <!-- end clash-card barbarian-->
        </div> <!-- end wrapper -->
        <div class="wrapper">
            <div class="clash-card barbarian">
                <div class="clash-card__image clash-card__image--barbarian">
                <img src="../static/images/karla.png" alt="UserImage" />
                </div>
                <div class="clash-card__level clash-card__level--barbarian">Industrial Transporte</div>
                <br>
                <div class="clash-card__unit-name">Karla Ponce</div>
                <div class="clash-card__unit-description">
            </div>
          </div> <!-- end clash-card barbarian-->
        </div> <!-- end wrapper -->
      </div> <!-- end container -->
</main>
{% endblock %}